<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>Nom de Recette</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Gérer la Recette <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="">Ajouter aux Courses</a></li>
        <li><a href="">Modifier la Recette</a></li>
        <li><a href="">Supprimer la Recette</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Description
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Ingrédients
    </div>
  </div>
</div>
